MONGO_URI=mongodb://127.0.0.1:27017/movieDB
JWT_SECRET=your_very_strong_secret_key_here
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
TMDB_API_KEY=your_tmdb_api_key_from_themoviedb_org
PORT=5000
FRONTEND_URL=http://localhost:5173
